In [14]:
import pandas as pd
import numpy as np

df_produto_interno_estados = pd.read_csv('../data/tabelas antes da limpeza/tabela_produto_interno_estados.csv', delimiter=";")

Lendo o dataset de PIB, e colocando a coluna Unidade da Federação como index

In [15]:
df_produto_interno_estados = df_produto_interno_estados.set_index(df_produto_interno_estados["Unidade da Federação"])
df_produto_interno_estados[:10]

,Unidade da Federação,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Unidade da Federação,,,,,,,,,,,,,,,,,,,
Rondônia,Rondônia,7467630,9425010,11004641,12511821,13054713,14438376,17285542,19725010,23907887,27574714,30112720,31121413,34030982,36563333,39460359,43516147,44913978,47091336
Acre,Acre,2971301,3377234,3784003,4300581,4661807,5458172,6410255,7407821,8342356,8949434,10137925,11473930,13458698,13622802,13754240,14272941,15331123,15630017
Amazonas,Amazonas,22093338,25862134,31090696,33980877,39933213,43479773,48115265,50559840,60877123,70734401,72242701,83051233,86668644,86568184,89039782,93240191,100109235,108181091
Roraima,Roraima,2392033,2594081,2822757,3193430,3802452,4203302,4841862,5671975,6639150,7303719,7711467,9010725,9744122,10242905,11013237,12104709,13369988,14292227
Pará,Pará,26482159,30270152,37272726,40522893,45983027,51846876,60956978,61665096,82684518,98710736,107080881,121224847,124584945,130899505,138107514,155232404,161349602,178376984
Amapá,Amapá,3173343,3413195,3824740,4306410,5280822,6012523,6950413,7490656,8237795,9409228,11130868,12763486,13400284,13861293,14342135,15481908,16795207,17496661
Tocantins,Tocantins,5322563,6612339,7251580,7707340,8655613,10192844,12116393,13689804,16404816,18345688,20684430,23796656,26189323,28930291,31584816,34108132,35666183,39355941
Maranhão,Maranhão,15924003,19502900,22127132,25104209,29710643,30730866,37932402,40994571,46309633,52143535,60490109,67694845,76842028,78475994,85310038,89542757,98179496,97339938
Piauí,Piauí,7122635,8414901,9406461,10711834,13360478,13736085,16203340,18946449,22269149,25941362,28637685,31283593,37723497,39149686,41416937,45365541,50378418,52780785
Ceará,Ceará,28718840,32687418,36890816,41059459,46500321,50818749,60415574,67199958,79336299,89695828,96973753,109036556,126054472,130629849,138422521,147921534,155903825,163575327

Fazendo o melt do dataset, para ter o ano e pib como colunas

In [16]:
df_produto_interno_estados = pd.melt(df_produto_interno_estados, id_vars=['Unidade da Federação'], 
var_name='ano', value_name='pib')

In [19]:
df_produto_interno_estados = df_produto_interno_estados.rename(columns={'Unidade da Federação': "sigla_uf"})

Converter nome do Estado para Sigla

In [20]:
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Rondônia", "RO", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Acre", "AC", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Amazonas", "AM", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Roraima", "RR", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Pará", "PA", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Amapá", "AP", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Tocantins", "TO", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Maranhão", "MA", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Piauí", "PI", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Ceará", "CE", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Rio Grande do Norte", "RN", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Paraíba", "PB", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Pernambuco", "PE", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Alagoas", "AL", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Sergipe", "SE", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Bahia", "BA", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Minas Gerais", "MG", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Espírito Santo", "ES", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Rio de Janeiro", "RJ", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("São Paulo", "SP", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Paraná", "PR", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Santa Catarina", "SC", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Rio Grande do Sul", "RS", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Mato Grosso do Sul", "MS", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Mato Grosso", "MT", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Goiás", "GO", regex=True)
df_produto_interno_estados["sigla_uf"] = df_produto_interno_estados["sigla_uf"].replace("Distrito Federal", "DF", regex=True)

In [21]:
df_produto_interno_estados["sigla_uf"].unique()

array(['RO', 'AC', 'AM', 'RR', 'PA', 'AP', 'TO', 'MA', 'PI', 'CE', 'RN',
       'PB', 'PE', 'AL', 'SE', 'BA', 'MG', 'ES', 'RJ', 'SP', 'PR', 'SC',
       'RS', 'MS', 'MT', 'GO', 'DF'], dtype=object)

In [22]:
df_produto_interno_estados[:10]

  sigla_uf   ano       pib
0       RO  2002   7467630
1       AC  2002   2971301
2       AM  2002  22093338
3       RR  2002   2392033
4       PA  2002  26482159
5       AP  2002   3173343
6       TO  2002   5322563
7       MA  2002  15924003
8       PI  2002   7122635
9       CE  2002  28718840

Criar coluna com a região, relacionada a cada estado:
'CENTRO OESTE', 'NORDESTE', 'NORTE', 'SUDESTE', 'SUL'

In [23]:
df_produto_interno_estados["regiao"] = "NORDESTE"

df_produto_interno_estados.loc[
    (df_produto_interno_estados['sigla_uf'] == 'RS') | 
    (df_produto_interno_estados['sigla_uf'] == 'SC') | 
    (df_produto_interno_estados['sigla_uf'] == 'PR'),'regiao'] = "SUL"

df_produto_interno_estados.loc[
    (df_produto_interno_estados['sigla_uf'] == 'SP') | 
    (df_produto_interno_estados['sigla_uf'] == 'RJ') | 
    (df_produto_interno_estados['sigla_uf'] == 'MG') | 
    (df_produto_interno_estados['sigla_uf'] == 'ES'),'regiao'] = "SUDESTE"

df_produto_interno_estados.loc[
    (df_produto_interno_estados['sigla_uf'] == 'MT') | 
    (df_produto_interno_estados['sigla_uf'] == 'MS') | 
    (df_produto_interno_estados['sigla_uf'] == 'GO'),'regiao'] = "CENTRO OESTE"

df_produto_interno_estados.loc[
    (df_produto_interno_estados['sigla_uf'] == 'AM') | 
    (df_produto_interno_estados['sigla_uf'] == 'RR') | 
    (df_produto_interno_estados['sigla_uf'] == 'AP') | 
    (df_produto_interno_estados['sigla_uf'] == 'TO') | 
    (df_produto_interno_estados['sigla_uf'] == 'RO') | 
    (df_produto_interno_estados['sigla_uf'] == 'AC') | 
    (df_produto_interno_estados['sigla_uf'] == 'PA'),'regiao'] = "NORTE"

In [24]:
df_produto_interno_estados[:10]

  sigla_uf   ano       pib    regiao
0       RO  2002   7467630     NORTE
1       AC  2002   2971301     NORTE
2       AM  2002  22093338     NORTE
3       RR  2002   2392033     NORTE
4       PA  2002  26482159     NORTE
5       AP  2002   3173343     NORTE
6       TO  2002   5322563     NORTE
7       MA  2002  15924003  NORDESTE
8       PI  2002   7122635  NORDESTE
9       CE  2002  28718840  NORDESTE

In [25]:
df_produto_interno_estados.to_csv('../data/tabela_produto_interno_estados.csv', index=False)