In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

df_usd_brl = pd.read_csv('../data/tabelas antes da limpeza/usd_brl_data.csv')

Tabela antes da limpeza

In [2]:
df_usd_brl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4841 entries, 0 to 4840
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      4841 non-null   object
 1   Último    4841 non-null   object
 2   Abertura  4841 non-null   object
 3   Máxima    4841 non-null   object
 4   Mínima    4841 non-null   object
 5   Vol.      922 non-null    object
 6   Var%      4841 non-null   object
dtypes: object(7)
memory usage: 264.9+ KB

In [3]:
df_usd_brl

                    Data  Último Abertura  Máxima  Mínima     Vol.    Var%
0     19 de ago. de 2022  5,1695   5,1685  5,2192  5,1648  132,82K   0,04%
1     18 de ago. de 2022  5,1674   5,1655  5,2074  5,1283  149,11K   0,06%
2     17 de ago. de 2022  5,1642   5,1469  5,2144  5,1452  167,02K   0,36%
3     16 de ago. de 2022  5,1459   5,0987  5,1549  5,0965  148,45K   0,98%
4     15 de ago. de 2022  5,0961   5,0721  5,1409  5,0721  130,15K   0,45%
...                  ...     ...      ...     ...     ...      ...     ...
4836  05 de fev. de 2004  2,9310   2,9285  2,9430  2,9250      NaN   0,41%
4837  04 de fev. de 2004  2,9190   2,9210  2,9200  2,9010      NaN   0,07%
4838  03 de fev. de 2004  2,9170   2,9305  2,9390  2,9140      NaN  -0,85%
4839  02 de fev. de 2004  2,9420   2,9270  2,9570  2,9380      NaN   0,26%
4840  30 de jan. de 2004  2,9345   2,9315  2,9565  2,9135      NaN   0,12%

[4841 rows x 7 columns]

Renomeei as colunas retirando acento

In [4]:
df_usd_brl = df_usd_brl.rename(columns={df_usd_brl.columns[0]: 'DATA',
                                        df_usd_brl.columns[3]: 'MAXIMA',                
                                        df_usd_brl.columns[4]: 'MINIMA'})

Vírgulas substituídas por pontos para conseguir fazer conversão para float

In [5]:
df_usd_brl['MAXIMA'] = df_usd_brl['MAXIMA'].str.replace(',','.')
df_usd_brl['MINIMA'] = df_usd_brl['MINIMA'].str.replace(',','.')

Conversão de strings em float

In [6]:
df_usd_brl['MAXIMA'] = pd.to_numeric(df_usd_brl['MAXIMA'], errors = 'raise')
df_usd_brl['MINIMA'] = pd.to_numeric(df_usd_brl['MINIMA'], errors = 'raise')

Média do dolar por dia

In [7]:
df_usd_brl['MEDIA'] = df_usd_brl[['MAXIMA', 'MINIMA']].mean(axis=1)

Converter data para formato internacional

In [8]:
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de jan. de ','/01/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de fev. de ','/02/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de mar. de ','/03/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de abr. de ','/04/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de mai. de ','/05/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de jun. de ','/06/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de jul. de ','/07/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de ago. de ','/08/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de set. de ','/09/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de out. de ','/10/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de nov. de ','/11/', regex=True)
df_usd_brl['DATA'] = df_usd_brl['DATA'].str.replace(' de dez. de ','/12/', regex=True)

df_usd_brl['DATA'] = pd.to_datetime(df_usd_brl['DATA'], infer_datetime_format=True)

Filtro de datas do período necessário para análise

In [9]:
df_usd_brl = df_usd_brl.loc[(df_usd_brl['DATA'] >= '2004-05-09') & (df_usd_brl['DATA'] < '2021-04-25')]

Média do dolar mensal

In [10]:
df_usd_brl = df_usd_brl.groupby(pd.PeriodIndex(df_usd_brl['DATA'], freq="M"))['MEDIA'].mean().reset_index()
df_usd_brl

        DATA     MEDIA
0    2004-05  3.137188
1    2004-06  3.128045
2    2004-07  3.038575
3    2004-08  3.003189
4    2004-09  2.892336
..       ...       ...
199  2020-12  5.151846
200  2021-01  5.343669
201  2021-02  5.413460
202  2021-03  5.641930
203  2021-04  5.616162

[204 rows x 2 columns]

Padronizando a coluna média para duas casas decimais

In [11]:
df_usd_brl['MEDIA']= df_usd_brl['MEDIA'].round(decimals = 2)

Exclusão de colunas que não serão utilizadas

Tabela após limpeza

In [12]:
df_usd_brl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATA    204 non-null    period[M]
 1   MEDIA   204 non-null    float64
dtypes: float64(1), period[M](1)
memory usage: 3.3 KB

In [13]:
df_usd_brl

        DATA  MEDIA
0    2004-05   3.14
1    2004-06   3.13
2    2004-07   3.04
3    2004-08   3.00
4    2004-09   2.89
..       ...    ...
199  2020-12   5.15
200  2021-01   5.34
201  2021-02   5.41
202  2021-03   5.64
203  2021-04   5.62

[204 rows x 2 columns]

In [14]:
df_usd_brl.to_csv('../data/usd_brl_data.csv', index=False)