In [30]:
import pandas as pd
import numpy as np

%matplotlib inline

df_world_oil_prices = pd.read_csv('../data/tabelas antes da limpeza/Brent_oil_prices.csv')

Tabela antes da limpeza

In [31]:
df_world_oil_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8554 entries, 0 to 8553
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    8554 non-null   object
 1   Price   8554 non-null   float64
dtypes: float64(1), object(1)
memory usage: 133.8+ KB

In [32]:
df_world_oil_prices

              Date  Price
0        20-May-87  18.63
1        21-May-87  18.45
2        22-May-87  18.55
3        25-May-87  18.60
4        26-May-87  18.63
...            ...    ...
8549  Jan 19, 2021  55.38
8550  Jan 20, 2021  55.66
8551  Jan 21, 2021  55.68
8552  Jan 22, 2021  55.22
8553  Jan 25, 2021  55.44

[8554 rows x 2 columns]

Conversão para o formato de data

In [33]:
df_world_oil_prices['Date'] = df_world_oil_prices['Date'].astype('datetime64[ns]')

Filtro do período de datas necessário

In [34]:
df_world_oil_prices = df_world_oil_prices.loc[(df_world_oil_prices['Date'] >= '2004-05-09') & (df_world_oil_prices['Date'] < '2021-05-01')]

Média mensal da coluna preço do petróleo

In [35]:
df_world_oil_prices = df_world_oil_prices.groupby(pd.PeriodIndex(df_world_oil_prices['Date'], freq="M"))['Price'].mean().reset_index()

Aproximação para duas casas decimais

In [36]:
df_world_oil_prices['Price']= df_world_oil_prices['Price'].round(decimals = 2)

Tabela após limpeza

In [37]:
df_world_oil_prices

        Date  Price
0    2004-05  37.94
1    2004-06  35.18
2    2004-07  38.22
3    2004-08  42.74
4    2004-09  43.20
..       ...    ...
196  2020-09  40.91
197  2020-10  40.19
198  2020-11  42.69
199  2020-12  49.99
200  2021-01  54.69

[201 rows x 2 columns]